<!DOCTYPE html>
<html>
<head>
	<title>NodeJS Demo</title>
	<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">

	<style type="text/css">
		body {
			font-family: Comfortaa;
		}
	</style>
</head>
<body>
	<h1>Developer Student Clubs</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<img src="https://images.pexels.com/photos/970204/pexels-photo-970204.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
	<form action="/form-submission" method="POST">
		<input type="text" name="firstname">
		<button>Submit</button>
	</form>
</body>
</html>





